@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: #f1f5f9;
    --foreground: #0f172a;
    
    --primary: #001675;
    --primary-foreground: #fff7ed;
    
    --secondary: #DEDCFF;
    --secondary-foreground: #AC85F0;

    --card: #ffffff;
    --card-foreground: #0f172a;
    
    --popover: #ffffff;
    --popover-foreground: #0f172a;
    
    --muted:#6b7280;
    --muted-foreground:#F3F4F6;

    --accent: #f5f5f5;
    --accent-foreground: #2e1065;

    --destructive: 	#fee2e2;
    --destructive-foreground: #b91c1c;
    
    --success: #dcfce7;
    --success-foreground: #15803d;

    --border: #a3a3a3;
    --input: #a3a3a3;
    --ring: #fc420f9d;
    
    --radius: 0.5rem;
  }
   
  .dark {
    --background:	#18181b;
    --foreground: #ffffff;
    
    --primary: 	#a78bfa;
    --primary-foreground: #f9fafb;

    --secondary:	#e2e8f0;
    --secondary-foreground: #f9fafb;

    --card:	#27272a;
    --card-foreground: #f9fafb;

    --popover:	#27272a;
    --popover-foreground: #f9fafb;

    --muted:	#9ca3af;
    --muted-foreground: 	#27272a;

    --accent:	#18181b;
    --accent-foreground: #f9fafb;

    --destructive: 	#7f1d1d;
    --destructive-foreground: #ef4444;

    --success: #14532d;
    --success-foreground: #22c55e;
  
    --border:	#525252;
    --input:	#525252;
    --ring: #e2e8f0;
  }
}
  
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}