.recharts-layer.recharts-pie,
.recharts-pie-sector:focus {
    outline: none !important;
    outline-style: none !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
}