@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #18181b;

    --card: #ffffff;
    --card-foreground: #18181b;
    
    --popover: #ffffff;
    --popover-foreground: #18181b;

    --primary: #a689fa;
    --primary-foreground: #fafafa;

    --secondary: #e5e7eb;
    --secondary-foreground: #a689fa;

    --muted:#e5e7eb;
    --muted-foreground:#6b7280;

    --accent: #f5f3ff;
    --accent-foreground: #2e1065;

    --destructive: 	#ef4444;
    --destructive-foreground: #fafafa;

    --border: #ede9fe;
    --input: #ede9fe;
    --ring: #09090b;
    
    --radius: 0.5rem;
  }
   
  .dark {
    --background:	#111827;
    --foreground: #f9fafb;
    
    --card:	#111827;
    --card-foreground: #f9fafb;

    --popover:	#111827;
    --popover-foreground: #f9fafb;

    --primary: 	#384252;
    --primary-foreground: #f9fafb;

    --secondary:	#1f2937;
    --secondary-foreground: #f9fafb;

    --muted:	#1f2937;
    --muted-foreground: 	#9ca3af;

    --accent:	#1f2937;
    --accent-foreground: #f9fafb;

    --destructive: 	#7f1d1d;
    --destructive-foreground: #f9fafb;
  
    --border:	#1f2937;
    --input:	#1f2937;
    --ring: #384252;
  }
}
  
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}